@model IdentityDemo.ViewModels.ItemsViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/hywm_css/Landing_page.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" />
    <title>Two Containers Layout</title>
    
    <style>
       
    </style>
</head>
<body>
    <div class="container" id="homef">
        <div class="superleft">
            <p class="directiontext">SWIFTFOODS</p>
        </div>
        <div class="left">
            <p class="foodtext1">Breakfast</p>
            <img src="~/img/hywm_img/img/landingphoto/chicken-noodle-meatball-also-called-mie-ayam-popular-street-food-indonesia.png" alt="Breakfast" class="food-img food1 placeholder-image" />
            <p class="foodtext2">Lunch</p>
            <img src="~/img/hywm_img/img/landingphoto/1foods 2.png" alt="Lunch" class="food-img food2 placeholder-image" />
            <p class="foodtext3">Fries</p>
            <img src="~/img/hywm_img/img/landingphoto/concept-tasty-food-with-chicken-strips-space-text.png" alt="Fries" class="food-img food3 placeholder-image" />
            <p class="foodtext4">Traditional foods</p>
            <img src="~/img/hywm_img/img/landingphoto/top-view-japanese-sushi-assortment.png" alt="Traditional foods" class="food-img food4 placeholder-image" />
        </div>
        <div class="right">
            <div class="nav-buttons">
                <img src="~/img/hywm_img/items/logo1.png" alt="Logo" style="width:60px;height:60px;">
                <button id="home-button" onclick="scrollToSection('home', this)" class="active">Home</button>
                <button id="restaurants-button" onclick="scrollToSection('restaurants', this)">Restaurants</button>
                <button id="food-button" onclick="scrollToSection('food', this)">Food</button>
                <button id="about-button" onclick="location.href='@Url.Action("About","Home")'">About Us</button>
                @if (User.Identity.IsAuthenticated)
                {
                    <button id="login-button" onclick="location.href='@Url.Action("User_profile","Hywm")'" style="background-color:dimgray;border-radius:15px;">Profile</button>
                }
                else
                {
                    <button id="login-button" onclick="location.href='@Url.Action("Login","Account")'" style="background-color:dimgray;border-radius:15px;">Log In</button>
                    
                }
                
            </div>
            <div class="leftdesign">
                <p class="wefood" style="font-size: 2rem;">We provide the</p>
                <p class="bestfood" style="font-size: 4rem;">Best Food for You</p>
                <p style="font-size: 1.5rem;">Feel the taste of most popular foods from anywhere and anytime. Experience the culinary delights that transcend borders, bringing you a taste of global cuisine at your convenience.</p>
               @if(!User.Identity.IsAuthenticated){
                <button id="login-button" onclick="location.href='@Url.Action("Register","Account")'" class="btn btn-dark signupbtn rounded-pill">SIGN UP</button>

               }
               
                <a href="#" class="btn howtobtn">
                    <i class="fas fa-play-circle play-button"></i>
                    How to Order
                </a>
            </div>
            <div class="lastpart">
                <div class="d-flex happycustomer">
                    <p class="usercount">5K+</p>
                    <p class="happy" style="font-size: 1.5rem;">Happy <br /> Customer</p>
                </div>
                <div class="vertical-line"></div>
                <div class="d-flex happycustomer">
                    <img src="~/img/hywm_img/img/landingphoto/Ellipse 8.png" alt="Alternate Text" height="50" style="padding-left: 20%;" />
                    <p class ="lakanquot">
                        &quot; <span>
                            This is the best foods
                            website that ever exist
                        </span>&quot;
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div id="restaurants" class="restaurants_slider">
        <p><h3>Trending Restaurants in NearFoods</h3></p>
        <div class="slider" onwheel="handleWheel(event)" ontouchstart="handleTouchStart(event)" ontouchmove="handleTouchMove(event)">
            <div class="slide-container">
                @foreach(var shop in Model.Shops)
                {
                    <a href="@Url.Action("SingleShopView", "Hywm", new { shopId = shop.ShopId })" class="slide">
                        <img src="~/img/shop/@shop.ProfileImagePath" alt="@shop.ShopName">
                    </a>
                }
               
                <!-- Add more slide divs as needed -->
            </div>
        </div>
    </div>

    <div id="food" class="food_list">
        <p><h3>Various Foods in NearFoods</h3></p>
        <div class="food_items">
            @foreach (var item in Model.Items)
            {
                <a href="@Url.Action("SingleShopView", "Hywm", new { shopId = item.Shop_Id })" >
                    <div class="food_item">
                        <div class="food_overlay">
                            <img class="small_image" src="~/img/items/@item.ItemImageName" alt="Small Background">
                            <div class="text_bg_container">
                                <img class="text_bg" src="~/img/hywm_img/items/Item_text_bg.png" alt="Text Background">
                                <span class="food_name">@item.ItemName</span>
                            </div>
                        </div>
                    </div>
                </a>

            }
        </div>
    </div>

    <!--footer-->
    <footer class="footer">
        <div class="footer-column">
            <img src="~/img/hywm_img/items/logo1.png" alt="Near Food Logo">
            <h3>Near Foods</h3>
        </div>
        <div class="footer-column">
            <h3>Follow Us</h3>
            <div class="footer-icons">
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f">a</i></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram">a</i></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter">a</i></a>
            </div>
        </div>
        <div class="footer-column">
            <h3>Get Help</h3>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">How to Order</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Terms</h3>
            <ul>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Be Our Partner</a></li>
            </ul>
        </div>
    </footer>
    <script>
        function scrollToSection(sectionId, button) {
            document.getElementById(sectionId).scrollIntoView({ behavior: 'smooth' });
            setActiveButton(button);
        }

        function setActiveButton(button) {
            const buttons = document.querySelectorAll('.nav-buttons button');
            buttons.forEach(btn => btn.classList.remove('active'));
            button.classList.add('active');
        }</script>
</body>
</html>
