@model IdentityDemo.ViewModels.ItemsViewModel
@{
    Layout = "_Owner_layout";
    var isitem = TempData["items"];
}
<style>
    .menu-item {
        margin-bottom: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding-right: 20px;
        transition: transform 0.3s ease;
        display: flex;
        align-items: center;
        color: black;
        position: relative;
    }

        .menu-item:hover {
            transform: scale(1.1);
            z-index: 100;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        .menu-item img {
            width: 120px;
            height: 120px;
            border-radius: 8px;
            margin-right: 20px;
        }

        .menu-item h5 {
            color: black;
            margin-top: 0;
            font-weight: bold;
        }

        .menu-item p {
            margin: 5px 0;
            color: black;
        }

</style>
<div class="container-fluid">
    @if (isitem != null)
    {
        <div class="container-fluid">
            <img src="~/img/no_item.png" style="width:100%;height:90vh;align:center;" />
        </div>
    }
    else
    {
        <div class="container mt-4">
            <div class="row justify-content-start">
                @foreach (var item in Model.Items)
                {
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="menu-item" data-itemid="@item.ItemId"
                             data-final_price="@item.ItemPrice"
                             data-itemquantity="@item.ItemQuantity"
                             data-discount_rate="@item.Discount_rate"
                             data-discount_price="@item.Discount_price">
                            <img src="~/img/items/@item.ItemImageName" alt="@item.ItemImageName">
                            <div class="item-details">
                                <p>Name: @item.ItemName</p>
                                <p class="price">Price: @item.ItemChangedPrice MMK</p>
                                <div class="get-details">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>



<script src="~/js/download_js/jquery-3.6.0.min.js"></script>
<script >//show more detail when mouse hover on item 
        $(document).ready(function () {
        $('.menu-item').each(function () {
            var card = $(this);

            card.on('mouseenter', function () {
                var itemQuantity = card.data('itemquantity');
                var discountRate = card.data('discount_rate');
                var discountPrice = card.data('discount_price');
                var finalPrice = card.data('final_price');

                var discountValue = discountRate > 0 ? `${discountRate}%` : `${discountPrice} MMK`;

                var detailsContent = `
                                <p>Total Quantity: ${itemQuantity} units</p>
                                <p>Final Price: ${finalPrice} MMK</p>
                                <p>Discount: ${discountValue}</p>
                            `;

                card.find('.get-details').html(detailsContent);
            });

            card.on('mouseleave', function () {
                card.find('.get-details').empty();
            });
        });
    });

</script>
