@{
    Layout = "_Zone_layout";
}

<link href="~/css/custom_css/homepage.css" rel="stylesheet"/>
<div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/img/shop/homeimg3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption carousel-caption1">
                    <h5>uab Zone</h5>
                    <p>Discover a treasure trove of handmade wonders, where colors dance and textures weave tales of timeless beauty.</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("HomePageItems","Item")" class="btn btn-primary carousel-button rounded-pill">Shop Now</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login","Account")" class="btn btn-primary carousel-button rounded-pill">Shop Now</a>
                    }
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/img/shop/homeimg2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption carousel-caption2">
                    <h5>uab Zone</h5>
                    <p>Embark on a journey through our curated collection, where every item whispers tales of adventure and dreams.</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("HomePageItems","Item")" class="btn btn-primary carousel-button rounded-pill">Shop Now</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login","Account")" class="btn btn-primary carousel-button rounded-pill">Shop Now</a>
                    }
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/shop/homeimg5.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption carousel-caption3">
                    <h5>uab Zone</h5>
                    <p>Embark on a journey through our curated collection, where every item whispers tales of adventure and dreams.</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("HomePageItems","Item")" class="btn btn-primary carousel-button rounded-pill">Shop Now</a>
                    }else{
                        <a href="@Url.Action("Login","Account")" class="btn btn-primary carousel-button rounded-pill">Shop Now</a>
                    }
                   
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
